
body{
    
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
 
}



.mydiv{
   
   
}

.mydiv2{
    
}



.mycontainer{
  
      
}


.mypoint{
    font-size: 25px;
line-height: 20px;
color: #337ab7;
font-weight: 600;
}

.mypoint:hover{
    color:#757575;
    

}

.mybanner{
    font-size: 14px;
    line-height: 60px;
    font-weight: 700;
    margin-left: 20px;
    padding:30px;
    
    
}


.mybanner:hover{
    color: #337ab7;
    
}

.myschrfit{
    padding-left: 150px;
    font-size: 70px;
line-height: 82px;
font-weight: 700;
margin-bottom: 15px;

}

.mypara{
    font-size: 20px;

margin-bottom: 20px;

font-weight: 600;
padding-left: 150px;
}


.mylink{
    border-radius: 30px;
    font-size: 14px;
margin-left: 500px;
color: #fff;
border-color:white;
padding: 14px 50px;
background-color: black;

}

.mylink:hover{
    background-color: white; 
    color: black;
}

.myschreiben{
    font-size: 28px;
line-height: 38px;
margin-bottom: 15px;
font-weight: 400;
color: black;
padding-left: 60px;
}

.para{
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 300;
    color: #444;
    padding-left: 60px;
}


.mylink2{
    
    font-size: 13px;
    padding: 11px 36px;
    background-color: #47d9e7;
border: 2px solid #47d9e7;
color: #fff;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.5px;
border-radius: 20px;
margin-top: 20px;
text-align: center;
white-space: nowrap;
vertical-align: middle;
margin-left: 50px;

}

.myimg{
    padding-left: 40px;
}


.myimg2{
padding-left: 20px;
}


.mykuli{
    font-size: 34px;
line-height: 42px;
font-weight: 500;
margin-bottom: 10px;
padding-left: 80px;
font-family: Poppins, sans-serif;
color: black;
}

.myparagraf{
    color: #757575;
    font-size: 20px;
    line-height: 27px;
    padding-left: 130px;
    

}


.myimg3 {
    padding-left: 30px;
    padding-top: 1rem !important;
    vertical-align: middle;
  
}


.mystift{
    padding-top: 20px;
    margin-top: 20px;
    
    color: black;
margin-left: 30px;
}


.mypro{
    
    color: #444;
    margin-left: 30px;
    
}

.mytitel{
    font-size: 34px;
    line-height: 42px;
    font-weight: 500;
    margin-bottom: 10px;
    margin: 0;
    font-family: Poppins, sans-serif;
    color: #222;
    text-align: center;
}

.myphrase{
    text-align: center;
    margin: 0 0 10px;
    font-weight: 300;
    color: #757575;
font-size: 19px;
line-height: 27px;
padding: 0 5%;
}

.box{
    margin-bottom: 50px;
    box-sizing: border-box;
    margin-left: 40px;
}

.myicon{
    color: #47d9e7;
    font-size: 40px;
line-height: 40px !important;
float: left;
margin-right: 20px;
}


.my-box-titel{
    font-weight: 500;
    line-height: 40px !important;
    margin-bottom: 5px;
    font-size: 18px;
    margin: 0;
}

.my-box-text{
    margin-top: 10px;
    margin-bottom: 0;
    color: #444;
font-size: 16px;
line-height: 26px;
font-weight: 300;
}

.myspan{
    background-color: #757575;
}

.mysubtitel{
    font-size: 34px;
    line-height: 42px;
    font-weight: 500;
    margin-bottom: 10px;
    margin: 0;
    color: #222;
    text-align: center;
}

.mytext{
    color: #757575;
font-size: 19px;
line-height: 27px;
padding: 0 5%;
font-weight: 300;
margin: 0 0 10px;
text-align: center;
}

.myimage{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
  
}

.mysatz{
    font-weight: 500;
    margin-bottom: 5px;
    margin: 0;
    font-size: 19px;
line-height: 25px;
color: #222;
}

.mysentence{
    color: #444;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    margin: 0 0 10px;
}

.mybtn{
padding: 7px 18px;
font-size: 11px;
background-color: #47d9e7;
border: 2px solid #47d9e7;
color: #fff;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.5px;
border-radius: 20px;
display: inline-block;
margin-bottom: 0;
text-align: center;
white-space: nowrap;
vertical-align: middle;
text-decoration: none;
}

.myicons{

}

